*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  
}
.container2{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 65px;
  width: 100%;
  background-color: rgb(48, 176, 199);
  height: 590px;
  color: rgb(242, 242, 247);
}
.container3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* background-color: rgb(94, 92, 230); */
  background-color: rgb(229, 229, 234);
  padding-top: 20px;
  
}
.container3 > h1{
  max-width: 50%;
  border-bottom: 1px solid;
  margin: 0 auto 30px auto;
  padding-bottom: 20px;
 
}
.container4{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(48, 176, 199);
  text-align: center;
}

#navbar{
    background-color: rgb(28, 28, 30);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    
}


#navbar > div{
    color: rgb(242, 242, 247);
    padding: 20px 50px 20px 20px;
}
#navbar > div > a{
  text-decoration: none;
  color: rgb(209, 209, 214);
}

#welcome-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto 0;
  align-items: center;
}
#welcome-section > h1{
  
  font-size: 40px;
}
#welcome-section > p{
  margin: 0 auto;
}
#projects{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  width: 1000px;
  
  /* border: 1px solid white; */
  box-sizing: border-box;
}
#projects > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 320px;
  background-color: rgb(28, 28, 30);
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 20px;
}
.project-title{
  color: rgb(209, 209, 214);
}
.project-tile >img{
  width: 100%;
  height: 250px;
  object-position: cover;
  margin: 0 auto;
  object-fit: fill;
}
.project-tile > a{
  text-decoration: none;
}
.show{
   margin-bottom: 30px;
  
}
.show > a{
    text-decoration: none;
    color: rgb(10, 132, 255);
    padding: 10px;
}
.logo-link{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
}
.logo-link > a{
  text-decoration: none;
  color: rgb(37, 36, 113);
  font-size: 16px;
}

@media (max-width: 1000px){
  #projects{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 700px;
  }

}

@media (max-width: 700px) {
  #navbar {
      display: flex;
      justify-content: center;
      gap: 20px;

  }
  #navbar > div{
    padding-right: 0;
    padding-left: 0;
  }
 
  #projects{
    display: flex;
    flex-direction: column;
    width: 323px;
    padding: 10px;
    
  }

  .container3 > h1{
    max-width: 100%;
    border-bottom: none;
    padding: 0 20px 0 20px;
  }
  .logo-link{
    display: flex;
    width: 200px;
   
  }
}
